@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --font: 'Poppins', sans-serif;
}
* {
    padding: 0;margin: 0;box-sizing: border-box;
}
body {
    font-family: var(--font);
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0.7);
}
#preload {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outline-path {
    stroke-dasharray: 1417px;
    stroke-dashoffset: 1417px;
    animation: line 5s ease-out forwards;
    animation-delay: 1s;
}
#filled-line {
    opacity: 0;
    transition: opacity 1s ease;
}
#hl {
    position: relative;
}
#hl > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes line {
    to {
        stroke-dashoffset: 0px;
    }
}

.chapter {
    display: flex;
    flex-direction: row;
}
.chapter > div {
    flex-grow: 1;
    width: 50%;
}
.left {
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    padding: 40px;
    position: relative;
}
.chapter-title {
position: sticky;
top: 50%;
color: rgba(0, 0, 0, 0.7);
}
.chapter-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: fit-content;
}
.chapter-image {
    height: 200px;
}