@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --font: 'Poppins', sans-serif;
}
* {
    padding: 0;margin: 0;box-sizing: border-box;
}
body {
    font-family: var(--font);
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    /* background-color:#FFF8F1; */
}
#analys { 
    max-width: 1200px;
    width: 100%;
    margin: 30px 0px;
    border-radius: 20px;
    background-color: white;
}
#preload {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: height 1s ease 7s forwards;
}

#outline-path {
    stroke-dasharray: 1417px;
    stroke-dashoffset: 1417px;
    animation: line 5s ease-out forwards;
    animation-delay: 1s;
}
#filled-line {
    opacity: 0;
    transition: opacity 1s ease;
}
#hl {
    position: relative;
}
#hl > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes line {
    to {
        stroke-dashoffset: 0px;
    }
}
@keyframes height {
    to {
        height: 0;
        opacity: 0;
    }
}

.chapter {
    display: flex;
    flex-direction: row;
    margin: 70px 0;
}
.chapter > div {
    flex-grow: 1;
}
.left {
padding: 30px 40px;
    position: relative;
}
.right {
    opacity: 0;
    transform: translateY(30px);
    width: 60%;
}
.chapter-title {
position: sticky;
top: 50%;
right: 0;
color: rgba(0, 0, 0, 0.7);
text-align: end;
width: 20ch;
}
h3.chapter-rubrik {
font-size: 24px;
margin: 30px 0px;
}
h4.chapter-rubrik {
font-size: 20px;
margin: 30px 0px;
}
.chapter-text {
font-size: 14px;
max-width: 60ch;
margin: 30px 0px;
}
.chapter-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: fit-content;
}
.chapter-image {
    height: 100px;
}
.bold {
    font-weight: bold;
}
.typo-div {
    display: flex;
    flex-direction: row;
}
.typo-title {
    margin: 10px 20px;
    min-width: 145px;
}
.typo-text {
    margin: 10px 20px;
    padding-left: 10px;
    border-left: 2px solid black;
    max-width: 55ch;
}
.arabesque {
font-family: hwt-arabesque,
sans-serif;
font-weight: 400;
font-style: normal;
}
.archivo-ebold {
    font-family: 'Archivo',
    sans-serif;
    font-weight: 800;
}
.archivo-medium {
    font-family: 'Archivo',
    sans-serif;
    font-weight: 500;
}
.archivo-light {
    font-family: 'Archivo',
    sans-serif;
    font-weight: 300;
}
.poppins {
    font-family: 'Poppins',
    sans-serif;
}
.webb-mobile-image, .webb-image {
    width: 500px;
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}
.fade {
    animation: fade-in 1s ease forwards;
    animation-delay: .4s;
}
li {
    margin: 10px 20px;
}
.underline {
    text-decoration: underline;
}